bkcolor = #eee

hred = #BD1F2C
logo = "images/red-logo.png"

/*
hred = #005EB1
logo = "images/blue-logo.png"
*/

*
  padding 0px
  margin 0px
body
  font 14px helvetica, arial, sans-serif
  background bkcolor
p
  margin 0 0 8px 0
  a
    color hred
ul
  li
    list-style none outside none
#header
  border-bottom 3px solid rgba(133, 147, 157, .5);
  background rgba(255, 255, 255, .7)
  min-height 15px
  -moz-box-shadow: 0 -6px 16px hred
#wrapper
  margin 0 auto
  width 960px
#presentation
  background url(logo) no-repeat scroll 0 0 transparent
  min-height 232px
  padding-left 255px
  margin 10px 0
  h1
    font-size 30px
    font-family "Rock Salt"
    color black
    text-shadow 1px 1px 1px hred
  .slogan
    font-size 20px
  p
    font-size 12px
#main
  position relative
  #pains
    width 550px
  #call-to-action
    position absolute
    top 0
    right 0
    width 350px
